*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'League Spartan', sans-serif;

}

body {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}


#container {
    width: 80%;
    height: 95%;
    background-color: hsl(300, 24%, 96%);
    box-shadow: 5px 10px 30px 10px rgb(196, 196, 196);
    border-radius: 1%;
    margin-top: 8%;
    margin-bottom: 8%;
    padding-bottom: 4%;
}

#top {
    display: flex;
    height: 50%;
    color: hsl(300, 43%, 22%);
    padding: 0 6%;
}

.stars {
    height: 16px;
    width: 101px;
    background-color: rgb(121, 121, 121);
    background: url(images/icon-star.svg);
    background-repeat: space;
}

.stars.two {
    margin-left: 12%;
}

.stars.three {
    margin-left: 24%;
}

#ratings {
    display: flex;
    width: 55%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: left;
    padding: 65px;
    padding-right: 0;
}

#ratings > div {
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 1.1rem;
    margin: 5% 0;
}

#ratings > div span {
    padding-top: .9%;
    margin-left: 5%;
}

#top > div:first-child {
    display: flex;
    width: 40%;
    flex-direction: column;
    justify-content: center;
}

h1 {
    font-size: 2.7rem;
    margin-bottom: 7%;
}

#top > div p {
    color: hsl(303, 10%, 53%);
    font-size: 1.05rem;
    line-height: 140%;
}

#bottom {
    display: flex;
    height: 50%;
    justify-content: space-evenly;
    flex-wrap: wrap;
    color: hsl(300, 24%, 96%);
    box-sizing: content-box;
}

.cards {
    height: 200px;
    width: 310px;
    background: hsl(300, 43%, 22%);
    border-radius: 7px;
    margin-top: 30px;
    padding: 3%;
    box-shadow: 5px 5px 20px -10px rgb(43, 43, 43);
    transition:ease-in-out 0.2s
}

.cards:hover {
    transform: scale(1.1);
}

#bottom-left-card {
    margin-left: 35px;
    margin-top: 15px
}

#bottom-right-card {
    margin-right: 35px;
    margin-top: 45px
}

.buyer {
    display: flex;
    align-items: center;
    margin-bottom: 10%;
}

.buyer-image {
    width: 15%;
    border-radius: 100%;
    margin-right: 10%;
}

#name {
    font-weight: 700;
}

#verified-buyer {
    color: hsl(333, 80%, 67%);
}

#review {
    font-weight: 500;
    line-height: 110%;
}

@media screen and (max-width: 1248px) {
    #container {
        height: 100% + 350px;
    }

    #bottom-left-card {
        margin: 3% 1%;
    }

    #bottom-center-card {
        margin: 3% 1%;
    }

    #bottom-right-card {
        margin: 2% 1%;
    }

    #ratings {
        width: 500px;
    }
}

@media screen and (max-width: 885px) {
    #top {
        height: 652px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    #top > div:first-child {
        width: 60%;
    }

    #ratings {
        display: flex;
        padding: 0;
        align-items: center;
    }

    #ratings > div div{
        margin: 0;
    } 

    #ratings > div span {
        margin: 0;
        margin-top: 4%;
    }

    #ratings > div {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 534px) {
    #container {
        height: 1450px;
        width: 90%;
        padding-top: 10%;
    }

    .cards {
        padding: 8%;
    }
}
